<form method="POST" action="/new">
h1= createTitle
br
p Authors Name: 
   input(type="text" name="nameText")
br
br
p Message: 
   input(type="text" name="messageText")
br
br
button(type="submit") Submit
</form>